body{
    margin: 0%;
    background-image: url(../images/textured_bg.jpg);
    background-attachment: scroll;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.top{
    background-image: url(../images/backround_top.jpg);
    height: 800px;
    background-position: center;
    font-family: 'Merriweather', serif;
    color: whitesmoke;
}
.top-text{
    margin: 300px 0 0 100px;
}
.top h1{
    font-size: 4em;
}
.top p{
    font-size: 3em;
}
.top button{
    border-radius: 20px 15px;
    font-size: 2em;
    padding: 10px 15px 10px 15px;
    background-color: aliceblue;
    border: none;
    transition: 200ms;
}
.top button:hover{
    background-color: transparent;
    border: 3px solid aliceblue;
    color: aliceblue;
    transition: 200ms;
}